.popipaPosition{
    color:red;
    position:absolute;
    top:250px;
}

.roseliaPosition{
    color:red;
    position:absolute;
    left:210px;
    top:250px;
}

.pasuparePosition{
    color:red;
    position:absolute;
    left:370px;
    top:250px;
}

.afterglowPosition {
    color: red;
    position: absolute;
    left: 540px;
    top: 250px;
}

.harohapiPosition{
    color: red;
    position: absolute;
    left: 710px;
    top: 250px;
}

